#
# Qualcomm Atheros CLD WLAN module config
#
CONFIG_QCA_CLD_WLAN=m
CONFIG_QCACLD_WLAN_LFR3=y
CONFIG_PRIMA_WLAN_OKC=y
CONFIG_PRIMA_WLAN_11AC_HIGH_TP=y
CONFIG_WLAN_FEATURE_11W=y
CONFIG_WLAN_FEATURE_LPSS=y
CONFIG_QCOM_VOWIFI_11R=y
CONFIG_WLAN_FEATURE_NAN=y
CONFIG_WLAN_FEATURE_NAN_DATAPATH=y
CONFIG_QCOM_TDLS=y
CONFIG_QCOM_LTE_COEX=y
CONFIG_WLAN_SYNC_TSF=y
CONFIG_WLAN_FEATURE_MEMDUMP=y
CONFIG_WLAN_OFFLOAD_PACKETS=y
CONFIG_QCA_WIFI_AUTOMOTIVE_CONC=y
CONFIG_WLAN_UDP_RESPONSE_OFFLOAD=y
CONFIG_WLAN_FEATURE_RX_WAKELOCK=y
CONFIG_WLAN_WOW_PULSE=y
CONFIG_CLD_HL_SDIO_CORE=y
WLAN_OPEN_SOURCE=1
MODNAME=wlan
# export CONFIG_DPTRACE_ENABLE=y