# udev rules file
# All device names can be read from weston's logfile
SUBSYSTEM=="input", ATTRS{name}=="synaptics-rmi-ts", \
ENV{ID_INPUT}="1", ENV{ID_INPUT_TOUCHSCREEN}="1"
